html, body, div, dl, dt, dd, ul, ol, li, h1,
h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, textarea, p, blockquote, th, td, input,
select, textarea, button
{margin: 0; padding: 0; border: 0;}
ul,li{list-style: none;}
body{background-color: #373737;}
a{text-decoration: none; font-weight: bolder;}

 /*.guid-line{outline: 1px #00F solid;}*/


/* headline -----------------------------------------------------*/

.headline{
    width: 100%;
    height: 113.98px;
    background-color: #FFF;
}

/* title -----------------------------------------------------*/

.title{
    width: 1000px;
    height: 70.23px;
    margin: 0 auto;
}
.title>a,
.title>.gnb1,
.title>.menu{
    display:block;
}
.title>a{
    float: left;
    position: relative;
    top: 48px;
}
.title>.gnb1{
    width: 240px;
    height: 63px;
    clear: both;
    position: relative;
    left:340px;
    bottom: 10px;
}
.title>.gnb1>li{
	display: inline-block;
}
.gnb1>li>a.vtdgoods{
	display: block;
	width: 105px;
	height: 65px;
	overflow:hidden;
	position:relative;
}
.gnb1>li>a:hover.vtdgoods img{
	position:absolute;
	top:-58px;
}

.gnb1>li>a.arms{
	display: block;
	width: 105px;
	height: 58px;
	overflow:hidden;
	position:relative;
	bottom:5px;
}
.gnb1>li>a:hover.arms img{
	position:absolute;
	top:-58px;
}
.title>.menu{
    width: 270px;
    height: 35px;
    background-image: url(../img/bg_util_area.png);
    background-repeat: no-repeat;
    background-size: 270px 33px;
    background-position:center;
    float: right;
    position: relative;
    bottom: 58px;
}
.title>.menu>ul{
    padding-top: 5px;
    text-align: center;
}
.title>.menu>ul>li{
    display: inline-block;
}
.title>.menu>ul>li>a,
.title>.menu>ul>li>span{
    font-size: 11px;
    color: #ff5d3b;
}

/* top -----------------------------------------------------*/

.top{
    width: 100%;
    height: 502px;
    background-image: url(../img/bg_product_visual.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fcf5db;
}
.top_phrase{
    width: 933px;
    height: 288px;
    padding: 33px 0 0 67px;
    margin: 0 auto;

}

/* middle -----------------------------------------------------*/

.tab_area{
	width: 100%;
	height: 100%;
    margin-top: -148px;
}

.tab_area>.tab_list{
	width: 971px;
    height: 120px;
    margin: 0 auto;
}

.tab_area>.tab_list>li{
    width: 313px;
    height: 150px;
    display:inline-block;
}

.tab_area>.tab_list>li>a{
    display: block;
    width: 313px;
    height: 150px;
}

.tab_area>.tab_list>li:first-child+li,
.tab_area>.tab_list>li:first-child+li+li{
    margin-left:10px;
}
.tab_area>.sd>div{
    display: none;
    margin-top:28px;
}


/* tabcontent1-----------------------------------------------------*/

.tabcontent:first-child{
    padding: 38px 0 80px;
    background-color: #fcf5db;
}
.tabcontent:first-child>ul{
    width: 966px;
    padding-left: 34px;
    margin: 0 auto;
}
.tabcontent:first-child>ul>li{
    display: inline-block;
    width: 284px;
    height: 384px;
    margin: 20px 0 0 20px;
    background-color: #FFF;
}
.tabcontent:first-child>ul>li>a>div:first-child{
    width: 284px;
    height: 284px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}
.tabcontent:first-child>ul>li>a>div:first-child>cite{
    color: #000;
}

.tabcontent:first-child>ul>li>a>div:first-child:after{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(255,255,255,0.9);
    opacity:0;
    transition:0.1s;
    color: #666;
    font-weight: normal;
    font-size: 13px;
    width: 254px;
    height: 20px;
    padding: 132px 15px 132px 15px;
}
.tabcontent:first-child>ul>li>a>.pd_1:after{
    content: "달콤하고 다양한 필링이 들어있어 여러 맛을 느낄 수 있는 뚜레쥬르의 대표 초콜릿 제품";
}
.tabcontent:first-child>ul>li>a>.pd_2:after{
    content: "사랑의 달콤함이 팡팡 터질 것 같은 폭탄볼을 형상화한 뚜레쥬르만의 특별하고도 귀여운 제품";
}
.tabcontent:first-child>ul>li>a>.pd_3:after{
    content: "요거트 초콜릿과 크랜베리가 믹스된 초콜릿을 유리병에 가득 담은 제품으로 사랑스런 포장 박스에 담아 선물하기 좋은 제품";
}
.tabcontent:first-child>ul>li>a>.pd_4:after{
    content: "달콤하고 다양한 필링이 들어있어 여러 맛을 느낄 수 있는 화려함을 강조한 뚜레쥬르의 대표 초콜릿 제품";
}
.tabcontent:first-child>ul>li>a>.pd_5:after{
    content: "러블리한 하트를 담은 수제 캔디를 유리병에 가득 담아낸 제품 (포장박스가 함께 제공)";
}
.tabcontent:first-child>ul>li>a>.pd_6:after{
    content: "천연색소를 사용하고 있으며 캔디 속에 초코 카라멜이 들어있어 달콤한 캔디";
}
.tabcontent:first-child>ul>li>a>.pd_7:after{
    content: "딸기향 필링이 들어간 바형태의 초콜릿으로 낱개 포장되어있어 손에 묻지않고 간편하게 꺼내 드실 수 있는 초콜릿";
}
.tabcontent:first-child>ul>li>a>.pd_8:after{
    content: "프랑스산 과일향 캔디와 벌꿀이 듬뿍 들어있는 허니 캔디를 각각 유리병에 담아낸 제품 (포장박스가 함께 제공)";
}
.tabcontent:first-child>ul>li>a>.pd_9:after{
    content: "내 마음이 열리듯 상자를 열면 강렬한 사랑을 느낄 수 있으며 다양한 필링의 초콜릿이 들어있는 제품";
}
.tabcontent:first-child>ul>li>a>.pd_10:after{
    content: "크림치즈 프로스팅을 레드벨벳 시트에 샌드하고 장줄리앙 이미지픽으로 장식한 시즌 레드벨벳 케이크";
}
.tabcontent:first-child>ul>li>a>div:first-child:hover:after{
    opacity:1;
}
.tabcontent:first-child>ul>li>a>div:first-child>img{
    width: 284px;
    height: 284px;
}
.tabcontent:first-child>ul>li>a>div:first-child>cite{
    position: absolute;
    left: 0;
    top:255px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
.tabcontent:first-child>ul>li>.button{
    width: 284px;
    height: 55px;
    padding-bottom: 25px;
    text-align: center;
}
.tabcontent:first-child>ul>li>.button>a{
    display: inline-block;
    width: 99px;
    height: 55px;
}
.tabcontent:first-child>ul>li>.button>a:first-child{
    background-image: url(../img/goods/btn_buy.png);
    background-repeat: no-repeat;
}
.tabcontent:first-child>ul>li>.button>a:first-child+a{
    background-image: url(../img/goods/btn_detail.png);
    background-repeat: no-repeat;
}

/* tabcontent2-----------------------------------------------------*/

.sd>div:first-child+div{
    padding: 38px 0 80px;
    background-color: #fcf5db;
}
.sd>div:first-child+div>ul{
    width: 966px;
    padding-left: 34px;
    margin: 0 auto;
}
.sd>div:first-child+div>ul>li{
    display: inline-block;
    width: 284px;
    height: 384px;
    margin: 20px 0 0 20px;
    background-color: #FFF;
}
.sd>div:first-child+div>ul>li>a>div:first-child{
    width: 284px;
    height: 284px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}
.sd>div:first-child+div>ul>li>a>div:first-child>cite{
    color: #000;
}

.sd>div:first-child+div>ul>li>a>div:first-child:after{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(255,255,255,0.9);
    opacity:0;
    transition:0.1s;
    color: #666;
    font-weight: normal;
    font-size: 13px;
    width: 254px;
    height: 20px;
    padding: 132px 15px 132px 15px;
}
.sd>div:first-child+div>ul>li>a>.pd_1:after{
    content: "카카오 함량이 58%인 다크 초콜릿 16개가 다채로운 색상으로 포장이 되어있는 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_2:after{
    content: "장줄리앙의 손거울이 들어있으며 성냥 모양의 초콜릿 쿠키와 블랙 쇼콜라의 달콤함이 가득 터지는 선물하기 좋은 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_3:after{
    content: "블랙 쇼콜라와 달콤한 캔디를 장줄리앙의 사랑스런 일러스트가 그려져 있는 머그잔에 담아 선물하기 좋은 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_4:after{
    content: "뚜껑을 열면 사랑의 달콤함이 터지듯이 활짝 열리며 달콤함이 쏟아지는 러블리한 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_5:after{
    content: "뚜껑을 열면 사랑의 달콤함이 터지듯이 활짝 열리며 달콤한 스위츠들과 귀여운 곰돌이 인형이 나타나는 러블리한 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_6:after{
    content: "캐러멜, 비스킷, 커피빈, 과일 등이 들어있는 8종류의 볼 초콜릿을 골고루 담아 다양한 맛을 즐길 수 있는 달콤한 초코 가득 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_7:after{
    content: "작고 앙증맞은 네모 모양 캔디를 유리병에 함께 담아 선물하기 좋도록 포장이 되어있는 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_8:after{
    content: "프랑스산 발로나 초콜릿을 사용하였으며 입 안에서 살살녹는 고급 제품";
}
.sd>div:first-child+div>ul>li>a>.pd_9:after{
    content: "네 가지 천연과일향과 다양한 과일/채소즙을 사용한 앙증맞은 곰돌이 모양의 젤리";
}
.sd>div:first-child+div>ul>li>a>.pd_10:after{
    content: "여러가지 모양의 젤리를 함께 모아 골라먹는 즐거움을 더한 제품으로 5가지 천연과일향과 다양한 과일/채소즙을 사용한 젤리";
}
.sd>div:first-child+div>ul>li>a>.pd_11:after{
    content: "라바와 친구들을 닮은 꿈틀이 모양 젤리로 천연과일향과 천연색소를 사용하여 안심하고 드실 수 있는 새콤달콤한 맛의 젤리";
}
.sd>div:first-child+div>ul>li>a>.pd_12:after{
    content: "귀여운 형태의 티라미스로 진한 커피크림을 품고있는 달콤한 폭탄케이크!";
}
.sd>div:first-child+div>ul>li>a>.pd_13:after{
    content: "진한 초코케이크에 알록달록 초코볼, 귀여운 마카롱과 세서미스트리트 아이싱 쿠키로 장식한 키덜트용 캐릭터 케이크";
}
.sd>div:first-child+div>ul>li>a>.pd_14:after{
    content: "달콤한 솜사탕 향이 솔솔나고 딸기&화이트 시트 사이에 입안에서 톡톡 터지는 팝핑캔디를 샌드한 시즌 스페셜 케이크";
}
.sd>div:first-child+div>ul>li>a>.pd_15:after{
    content: "진한 초콜릿과 생크림을 듬뿍 넣은 가나슈 초콜릿이 부드러운 시트와 크리미하게 잘 어우러지는 뚜레쥬르만의 시그니쳐 케이크";
}
.sd>div:first-child+div>ul>li>a>div:first-child:hover:after{
    opacity:1;
}
.sd>div:first-child+div>ul>li>a>div:first-child>img{
    width: 284px;
    height: 284px;
}
.sd>div:first-child+div>ul>li>a>div:first-child>cite{
    position: absolute;
    left: 0;
    top:255px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
.sd>div:first-child+div>ul>li>.button{
    width: 284px;
    height: 55px;
    padding-bottom: 25px;
    text-align: center;
}
.sd>div:first-child+div>ul>li>.button>a{
    display: inline-block;
    width: 99px;
    height: 55px;
}
.sd>div:first-child+div>ul>li>.button>a:first-child{
    background-image: url(../img/goods/btn_buy.png);
    background-repeat: no-repeat;
}
.sd>div:first-child+div>ul>li>.button>a:first-child+a{
    background-image: url(../img/goods/btn_detail.png);
    background-repeat: no-repeat;
}

/* tabcontent3-----------------------------------------------------*/

.sd>div:first-child+div+div{
    padding: 38px 0 80px;
    background-color: #fcf5db;
}
.sd>div:first-child+div+div>ul{
    width: 966px;
    padding-left: 34px;
    margin: 0 auto;
}
.sd>div:first-child+div+div>ul>li{
    display: inline-block;
    width: 284px;
    height: 384px;
    margin: 20px 0 0 20px;
    background-color: #FFF;
}
.sd>div:first-child+div+div>ul>li>a>div:first-child{
    width: 284px;
    height: 284px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}
.sd>div:first-child+div+div>ul>li>a>div:first-child>cite{
    color: #000;
}

.sd>div:first-child+div+div>ul>li>a>div:first-child:after{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(255,255,255,0.9);
    opacity:0;
    transition:0.1s;
    color: #666;
    font-weight: normal;
    font-size: 13px;
    width: 254px;
    height: 20px;
    padding: 132px 15px 132px 15px;
}
.sd>div:first-child+div+div>ul>li>a>.pd_1:after{
    content: "달콤함이 팡팡 터지는 다이너마이트를 연상 시키는 제품으로 가볍게 선물하기 좋은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_2:after{
    content: "딸기맛과 레몬맛 캔디를 한쪽으로 트위스트 포장하여 내용물이 보이는 깜찍한 투명케이스에 담아 리본으로 포장한 귀여운 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_3:after{
    content: "웃는 모습이 인상적인 스마일 모양의 수제 캔디를 투명한 병에 담은 제품으로 웃음을 가득 드리고 싶은 마음을 담은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_4:after{
    content: "카카오 함량이 58%인 다크 초콜릿 2개가 하나로 묶여있는 제품으로 선물하기에 좋은 쁘띠 사이즈 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_5:after{
    content: "꽈배기 모양의 롤리팝 스틱캔디로 친구, 동료에게 선물하기 좋은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_6:after{
    content: "원형 모양의 롤리팝 스틱캔디로 친구, 동료에게 선물하기 좋은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_7:after{
    content: "하트 모양의 롤리팝 스틱캔디로 친구, 동료에게 선물하기 좋은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_8:after{
    content: "다양한 과일과 새콤한 사우어가 만난 젤리빈을 예쁜병에 담은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_9:after{
    content: "천연색소와 천연향으로 과일 본연의 맛을 느낄 수 있는 종합과일맛 젤리빈을 예쁜병에 담은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_10:after{
    content: "집모양도 만들고, 배모양도 만들 수 있는 블록형캔디를 예쁜병에 담은 제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_11:after{
    content: "부드러운 아이스크림이 달콤한 머쉬멜로우로 변신한 아이스크림맛 무지방 머쉬멜로우";
}
.sd>div:first-child+div+div>ul>li>a>.pd_12:after{
    content: "솔티카라멜 크림이 듬뿍 들어간 빵 위에 바삭한 하겔슈가를 토핑한 짠단의 조화가 잘 어울리는 번제품";
}
.sd>div:first-child+div+div>ul>li>a>.pd_13:after{
    content: "알록달록하고 깜직한 하트와 과일 모양의 수제 캔디를 병에 담아 가볍게 선물하기에 좋은 제품";
}

.sd>div:first-child+div+div>ul>li>a>div:first-child:hover:after{
    opacity:1;
}
.sd>div:first-child+div+div>ul>li>a>div:first-child>img{
    width: 284px;
    height: 284px;
}
.sd>div:first-child+div+div>ul>li>a>div:first-child>cite{
    position: absolute;
    left: 0;
    top:255px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
.sd>div:first-child+div+div>ul>li>.button{
    width: 284px;
    height: 55px;
    padding-bottom: 25px;
    text-align: center;
}
.sd>div:first-child+div+div>ul>li>.button>a{
    display: inline-block;
    width: 99px;
    height: 55px;
}
.sd>div:first-child+div+div>ul>li>.button>a:first-child{
    background-image: url(../img/goods/btn_buy.png);
    background-repeat: no-repeat;
}
.sd>div:first-child+div+div>ul>li>.button>a:first-child+a{
    background-image: url(../img/goods/btn_detail.png);
    background-repeat: no-repeat;
}

/* bottom -----------------------------------------------------*/

.bottom{
    width: 100%;
    height: 222px;
}

.terms{
    width: 1000px;
    height: 92px;
    padding-top: 28px;
    margin: 0 auto;
}
.terms>ul{
    display: block;
    width: 1000px;
    height: 20px;
    text-align: center;
}
.terms>ul>li{
    display: inline-block;
}
.terms>ul>li>a,
.terms>ul>li>span{
    font-size: 11px;
    color: #909090;
}
.terms>ul>li:first-child+li+li+li+li>a{
    font-size: 15px;
    line-height: 10px;
    color: #ac7a54;

}
.terms>img{
    position: relative;
    left: 145px;
    top: 18px;
}
