html, body, div, dl, dt, dd, ul, ol, li, h1,
h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, textarea, p, blockquote, th, td, input,
select, textarea, button
{margin: 0; padding: 0; border: 0;}
ul,li{list-style: none;}
body{background-color: #373737;}
a{text-decoration: none; font-weight: bolder;}

.guid-line{outline: 1px #00F solid;}

/* headline */

.headline{
    width: 100%;
    height: 113.98px;
    background-color: #FFF;
}

/* title */

.title{
    width: 1000px;
    height: 70.23px;
    margin: 0 auto;
}
.title>a,
.title>.gnb1,
.title>.menu{
    display:block;
}
.title>a{
    float: left;
    position: relative;
    top: 48px;
}
.title>.gnb1{
    width: 240px;
    height: 63px;
    float: left;
    position: relative;
    left:140px;
    top: 20px;
}

.title>.gnb1>li{
    display: inline-block;
}

.title>.menu{
    width: 270px;
    height: 35px;
    background-image: url(../img/bg_util_area.png);
    background-repeat: no-repeat;
    background-size: 270px 33px;
    background-position:center;
    float: right;
    position: relative;
    top: 35px;
}
.title>.menu>ul{
    padding-top: 5px;
    text-align: center;
}
.title>.menu>ul>li{
    display: inline-block;
}
.title>.menu>ul>li>a,
.title>.menu>ul>li>span{
    font-size: 11px;
    color: #ff5d3b;
}

/* top */

.top{
    width: 100%;
    height: 682px;
    background-image: url(../img/bg_intro01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fcf5db;
}
.top_phrase{
    width: 699px;
    height: 190px;
    padding-top: 31px;
    margin: 0 auto;
}

/* middle */

.middle{
    width: 100%;
    height: 580px;
    background-image: url(../img/bg_intro02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fcf5db;
}
.middle_ct{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}
.middle_ct>img{
    padding-left: 128px;
}
.sweet_bomb{
    width: 1000px;
    height: 390px;
}

/*bottom*/

.bottom{
    width: 100%;
    height: 900px;
    background-color: #fcf5db;
}
.bottom_ct{
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    background-image: url(../img/bg_intro.png);
    background-repeat: no-repeat;
    background-position: 40px 160px;
}
.bottom_ct>img{
    padding: 47px 0 0 128px;
}
.youtube{
    width: 482.500px;
    height: 300px;
    position: relative;
    left: 268px;
    top: 85px;
}
.youtube>iframe{
    padding-top: 14px;
}

/* footer */

.footer{
    width: 100%;
    height: 221.74px;
    background-color: #373737;
}
.terms{
    width: 1000px;
    height: 92px;
    padding-top: 28px;
    margin: 0 auto;
}
.terms>ul{
    display: block;
    width: 1000px;
    height: 20px;
    text-align: center;
}
.terms>ul>li{
    display: inline-block;
}
.terms>ul>li>a,
.terms>ul>li>span{
    font-size: 11px;
    color: #909090;
}
.terms>ul>li:first-child+li+li+li+li>a{
    font-size: 15px;
    line-height: 10px;
    color: #ac7a54;

}
.terms>img{
    position: relative;
    left: 145px;
    top: 18px;
}
