*{margin: 0; padding: 0;}
ul,li{list-style: none;}
/*body{margin: 0 auto;}*/

.guid-line{outline: 1px #00F solid;}

.login{
    width: 1920px;
    height: 30px;
    margin: 0 auto;
    background-color: #f8f8f8;
    background-image: url(../img/button/top_login.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
.base{
    width: 993px;
    height: 1475px;
    margin: 0 auto;
}
.headline{
    width: 993px;
    height: 150px;
}
.bobea_menu{
    width: 350px;
    height: 110px;
    float: left;
}
.bobea_menu>ul>li:first-child{
    display: block;
    width: 250px;
    height: 53px;
    margin-top: 30px;
}
.bobea_menu>ul>li:first-child+li>ul{
    display: block;
    width: 330px;
    height: 22px;
}
.bobea_menu>ul>li:first-child+li>ul>li{
    display:block;
    float: left;
}
.search_box{
    width: 335px;
    height: 110px;
    float: left;
}
.search_box>a>img{
    display: block;
    width: 338px;
    height: 49px;
    margin-top: 20px;
}
.search_box>input{
    display:block;
    float: left;
}
.search_box>a:first-child+input{
    width: 250px;
    height: 20px;
    margin-left: 30px;
    border: 2px #3b589a solid;
}
.search_box>a:first-child+input+input{
    width: 40px;
    height: 24px;
    border-style: none;
    background-image: url(../img/button/search_marck.jpg);
    background-repeat: no-repeat;
}
.atbox{
    width: 306px;
    height: 110px;
    float: right;
    background-image: url(../img/banner/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center right;
}
.hlmenu{
    width: 990px;
    height: 38px;
    padding: 0 2px;
    clear: left;
}
.hlmenu>ul>li{
    display:block;
    float: left;
}
.contents{
    width: 993px;
    height: 1475px;
}
.ctmenu{
    width: 993px;
    height: 35px;
    margin-bottom: 5px;
}
.ctmenu ul{
    display: inline-block;
}
.ctmenu ul>li{
    float: left;
}
.right{
    width: 243px;
    height: 1300px;
    float: right;
}
.sd_login{
    width: 243px;
    height: 350px;
}

.login_box{
    width: 243px;
    height: 100px;
    background-color: #f6f6f6;
}
.login_box ul>li{
    display:block;
}
.login_box ul>li:first-child~li{
    float: left;
}
.login_box ul>li:first-child+li{
    margin-left: 10px;
    width: 55px;
    height: 25px;
}
.login_box ul>li:first-child+li+li{
    width: 65px;
    height: 25px;
    margin-left: 12px;
}
.login_box ul>li:first-child+li+li+li{
    width: 87px;
    height: 25px;
}
.login_box ul>li:first-child{
    width: 222px;
    height: 52px;
    padding: 10px;
}
.login_box ul>li:first-child>input:first-child,
.login_box ul>li:first-child>input:first-child+input
{
    width: 150px;
    height: 25px;
    display:block;
    float: left;
}
.login_box ul>li:first-child>input:first-child+input+input{
    width: 63px;
    height: 58px;
    display: inline-block;
    margin-left: 5px;
}
.login_box ul>li:first-child~li>span{
    font-size: 11px;
    display: inline-block;

}
.login_box ul>li:first-child+li>span{
    margin: 0 0 5px 5px;
}
.login_box ul>li:first-child+li~li>a{
    font-size: 11px;
    text-decoration: none;
    color: #696a6c;
    display: inline-block;

}
.login_box ul>li:first-child+li+li>a{
    margin-right: 5px;
}
.login_box ul>li:first-child+li+li>a>strong{
    color: #717076;
}

.hot_issue{
    width: 243px;
    height: 250px;
}
.issue_title{
    width: 243px;
    height: 35px;
}
.issue_contents{
    width: 243px;
    height: 215px;
}
.issue_contents>ul>li{
    display: block;
    width: 225px;
    height: 58px;
    padding: 7px 10px;
}
.issue_contents>ul>li>a>span,
.issue_contents>ul>li>a>img{
    display:block;
}
.issue_contents>ul>li>a>span{
    float: left;
    width: 130px;
    height: 34px;
    font-size: 13px;
    color: #000;
    padding-left: 13px;
    margin-top: 10px;
    background-image: url(../img/button/headline_number1.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.issue_contents>ul>li:first-child+li>a>span{
    background-image: url(../img/button/headline_number2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.issue_contents>ul>li:first-child+li+li>a>span{
    background-image: url(../img/button/headline_number3.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.issue_contents>ul>li>a>img{
    float: right;
}
.sd_news,
.sd_popularity,
.po,.bobea_story,
.event
{
    width: 243px;
    height: 190px;
}
.sd_news>.news_title,
.sd_popularity>.pp_title,
.po>.po_title,
.bobea_story>.story_title,
.event>.event_title
{
    width: 243px;
    height: 30px;
}
.news_title>strong,
.news_title>a{
    font-size: 12px;
    display: block;
}
.news_title>strong{
    float: left;
    margin-top: 5px;
}
.news_title>a{
    float: right;
    margin: 5px;
    text-decoration: none;
    color: #a1a1a1;
}
.sd_news>ul>li{
    display: block;
    padding: 0 10px 2px;
}
.sd_news>ul>li:first-child~li>a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    background-image: url(../img/button/spot.png);
    background-repeat: no-repeat;
    background-position: left;
}
.sd_news>ul>li:first-child>a{
    text-decoration: none;
}
.sd_news>ul>li:first-child>a>span,
.sd_news>ul>li:first-child>a>img{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
.sd_news>ul>li:first-child>a>span{
    margin-left: 5px;
    color: #000;
}

.pp_title>strong,
.pp_title>a{
    font-size: 12px;
    display: block;
}
.pp_title>strong{
    float: left;
    margin-top: 5px;
}
.pp_title>a{
    float: right;
    margin: 5px;
    text-decoration: none;
    color: #a1a1a1;
}
.sd_popularity>ul>li{
    display: block;
    padding: 3px 10px;
}
.sd_popularity>ul>li>a{
    text-decoration: none;
}
.sd_popularity>ul>li>a>img,
.sd_popularity>ul>li>a>span{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
.sd_popularity>ul>li>a>span{
    margin-left: 5px;
    color: #000;
}


.po_title>strong,
.po_title>a{
    font-size: 12px;
    display: block;
}
.po_title>strong{
    float: left;
    margin-top: 5px;
}
.po_title>a{
    float: right;
    margin: 5px;
    text-decoration: none;
    color: #a1a1a1;
}
.po>ul>li{
    display: block;
    padding: 3px 10px;
}
.po>ul>li>a{
    text-decoration: none;
}
.po>ul>li>a>img,
.po>ul>li>a>span{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
.po>ul>li>a>img{
    position: relative;
    left: 40px;
}
.po>ul>li>a>span{
    margin-left: 5px;
    color: #000;
}



/*left*/

.left{
    width: 750px;
    height: 1300px;
    float: left;
}

/*main_ct*/

.main_ct{
    width: 750px;
    height: 350px;
}
.main_ct ul>li{
    display:block;
}
.main_ct ul>li:first-child{
    float: left;
}
.main_ct ul>li:first-child~li{
    float: right;
    width: 330px;
    height: 73px;
    padding: 2px;
    margin-right: 10px;

}
.main_ct ul>li:first-child+li+li{
    border-bottom: 1px #e1e1e1 solid;
}

.main_ct ul>li:first-child~li>a>span{
    display: inline-block;
    color: #000;
    float: right;
    width: 200px;
    height: 50px;
    padding-top: 12px;
    font-size: 12px;
}
.main_ct ul>li:first-child~li>a>span>strong{
    font-size: 13px;
}
.main_ct ul>li:first-child~li>a>img{
    display:inline-block;
    float: left;
    font-size: 12px;
}
.main_top{
    width: 750px;
    height: 100px;
    margin-bottom: 10px;
}
.main_top a{
    display: inline-block;
}
/*.main_top a>img{
    border: 1px #e1e1e1 solid;
}*/

/*lowrank_ct1*/

.lowrank_ct1{
    width: 750px;
    height: 380px;
}
.cyber_store,
.domestic_car
{
    width: 750px;
    height: 190px;
}
.cyber_title>strong,
.cyber_title>a{
    display:inline-block;
    font-size: 12px;
}
.cyber_title{
    width: 750px;
    height: 30px;
}
.cyber_store>.cyber_title>strong{
    float: left;
    margin-top: 5px;
}
.cyber_store>.cyber_title>a{
    float: right;
    text-decoration: none;
    color: #a4a4a4;
    margin: 5px 5px;
}
.cyber_store>ul{
    display: block;
    width: 750px;
    height: 150px;
}
.cyber_store>ul>li{
    width: 138px;
    height: 145px;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

.cyber_store>ul>li>a>img,
.cyber_store>ul>li>a>span{
    display: block;
}
.cyber_store>ul>li>a{
    text-decoration: none;
}
.cyber_store>ul>li>a>span{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color:#000;
}

.dt_title>strong,
.dt_title>a{
    display:inline-block;
    font-size: 12px;
}
.dt_title{
    width: 750px;
    height: 30px;
}
.domestic_car>.dt_title>strong{
    float: left;
    margin-top: 5px;
}
.domestic_car>.dt_title>a{
    float: right;
    text-decoration: none;
    color: #a4a4a4;
    margin: 5px 5px;
}
.domestic_car>ul{
    display: block;
    width: 750px;
    height: 150px;
}
.domestic_car>ul>li{
    width: 138px;
    height: 145px;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

.domestic_car>ul>li>a>img,
.domestic_car>ul>li>a>span{
    display: block;
}
.domestic_car>ul>li>a{
    text-decoration: none;
}
.domestic_car>ul>li>a>span{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color:#000;
}
/* lowrank_ct2 */

.lowrank_ct2{
    width: 750px;
    height: 380px;
}
.import_car,
.mtr
{
    width: 750px;
    height: 190px;
}

.ip_title>strong,
.ip_title>a{
    display:inline-block;
    font-size: 12px;
}
.ip_title{
    width: 750px;
    height: 30px;
}
.import_car>.ip_title>strong{
    float: left;
    margin-top: 5px;
}
.import_car>.ip_title>a{
    float: right;
    text-decoration: none;
    color: #a4a4a4;
    margin: 5px 5px;
}
.import_car>ul{
    display: block;
    width: 750px;
    height: 150px;
}
.import_car>ul>li{
    width: 138px;
    height: 145px;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

.import_car>ul>li>a>img,
.import_car>ul>li>a>span{
    display: block;
}
.import_car>ul>li>a{
    text-decoration: none;
}
.import_car>ul>li>a>span{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color:#000;
}


.mtr_title>strong,
.mtr_title>a{
    display:inline-block;
    font-size: 12px;
}
.mtr_title{
    width: 750px;
    height: 30px;
}
.mtr>.mtr_title>strong{
    float: left;
    margin-top: 5px;
}
.mtr>.mtr_title>a{
    float: right;
    text-decoration: none;
    color: #a4a4a4;
    margin: 5px 5px;
}
.mtr>ul{
    display: block;
    width: 750px;
    height: 150px;
}
.mtr>ul>li{
    width: 138px;
    height: 145px;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

.mtr>ul>li>a>img,
.mtr>ul>li>a>span{
    display: block;
}
.mtr>ul>li>a{
    text-decoration: none;
}
.mtr>ul>li>a>span{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color:#000;
}


.cpt
{
    width: 750px;
    height: 190px;
}
.cpt>.cpt_title>strong,
.cpt>.cpt_title>a{
    display:inline-block;
    font-size: 12px;
}
.cpt>.cpt_title{
    width: 750px;
    height: 30px;
}
.cpt>.cpt_title>strong{
    float: left;
    font-size: 12px;
    margin-top: 5px;
}
.cpt>.cpt_title>a{
    float: right;
    text-decoration: none;
    color: #a4a4a4;
    margin: 5px 5px;
}
.cpt>ul{
    display: block;
    width: 750px;
    height: 150px;
}
.cpt>ul>li{
    width: 138px;
    height: 145px;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}

.cpt>ul>li>a>img,
.cpt>ul>li>a>span{
    display: block;
}
.cpt>ul>li>a{
    text-decoration: none;
}
.cpt>ul>li>a>span{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    color:#000;
}
