*{margin: 0; padding: 0;}
ul,li{list-style: none;}

.guid-line{outline: 1px #00F solid;}

.login{
    width: 1920px;
    height: 30px;
}
.base{
    width: 993px;
    height: 1475px;
    margin: 0 auto;
}
.headline{
    width: 993px;
    height: 150px;
}
.bobea_menu{
    width: 350px;
    height: 110px;
    float: left;
}
.search_box{
    width: 335px;
    height: 110px;
    float: left;
}
.atbox{
    width: 306px;
    height: 110px;
    float: right;
    background-image: url(../img/banner/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center right;
}
.hlmenu{
    width: 990px;
    height: 38px;
    padding: 0 2px;
    clear: left;
}
.hlmenu>ul>li{
    display:block;
    float: left;
}
.contents{
    width: 993px;
    height: 1475px;
}
.ctmenu{
    width: 993px;
    height: 35px;
    margin-bottom: 5px;
}
.ctmenu ul{
    display: inline-block;
}
.ctmenu ul>li{
    float: left;
}
.right{
    width: 243px;
    height: 1445px;
    float: right;
}
.sd_login{
    width: 243px;
    height: 350px;
}
.login_box{
    width: 243px;
    height: 100px;
    background-color: #f6f6f6;
}
.login_box ul>li{
    display:block;
}
.login_box ul>li:first-child~li{
    float: left;
}
.login_box ul>li:first-child+li{
    margin-left: 10px;
    width: 55px;
    height: 25px;
}
.login_box ul>li:first-child+li+li{
    width: 65px;
    height: 25px;
    margin-left: 12px;
}
.login_box ul>li:first-child+li+li+li{
    width: 87px;
    height: 25px;
}
.login_box ul>li:first-child{
    width: 222px;
    height: 52px;
    padding: 10px;
}
.login_box ul>li:first-child>input:first-child,
.login_box ul>li:first-child>input:first-child+input
{
    width: 150px;
    height: 25px;
    display:block;
    float: left;
}
.login_box ul>li:first-child>input:first-child+input+input{
    width: 63px;
    height: 58px;
    display: inline-block;
    margin-left: 5px;
}
.login_box ul>li:first-child~li>span{
    font-size: 11px;
    display: inline-block;

}
.login_box ul>li:first-child+li>span{
    margin: 0 0 5px 5px;
}
.login_box ul>li:first-child+li~li>a{
    font-size: 11px;
    text-decoration: none;
    color: #696a6c;
    display: inline-block;

}
.login_box ul>li:first-child+li+li>a{
    margin-right: 5px;
}
.login_box ul>li:first-child+li+li>a>strong{
    color: #717076;
}

.hot_issue{
    width: 243px;
    height: 250px;
}
.issue_title{
    width: 243px;
    height: 35px;
}
.issue_contents{
    width: 243px;
    height: 215px;
}
.issue_contents>ul>li{
    display: block;
    width: 225px;
    height: 58px;
    padding: 7px 10px;
}
.issue_contents>ul>li>a>span,
.issue_contents>ul>li>a>img{
    display:block;
}
.issue_contents>ul>li>a>span{
    float: left;
    width: 130px;
    height: 34px;
    font-size: 13px;
    color: #000;
    padding-left: 13px;
    margin-top: 10px;
    background-image: url(../img/button/headline_number1.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.issue_contents>ul>li:first-child+li>a>span{
    background-image: url(../img/button/headline_number2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.issue_contents>ul>li:first-child+li+li>a>span{
    background-image: url(../img/button/headline_number3.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.issue_contents>ul>li>a>img{
    float: right;
}
.sd_news{
    width: 243px;
    height: 435px;
}
.sd_popularity{
    width: 243px;
    height: 435px;
}
.left{
    width: 750px;
    height: 1445px;
    float: left;
}
.main_ct{
    width: 750px;
    height: 350px;
}
.main_ct ul>li{
    display:block;
}
.main_ct ul>li:first-child{
    float: left;
}
.main_ct ul>li:first-child~li{
    float: right;
    width: 330px;
    height: 73px;
    padding: 2px;
    margin-right: 10px;

}
.main_ct ul>li:first-child+li+li{
    border-bottom: 1px #e1e1e1 solid;
}

.main_ct ul>li:first-child~li>a>span{
    display: inline-block;
    color: #000;
    float: right;
    width: 200px;
    height: 50px;
    padding-top: 12px;
    font-size: 12px;
}
.main_ct ul>li:first-child~li>a>span>strong{
    font-size: 13px;
}
.main_ct ul>li:first-child~li>a>img{

    display:inline-block;
    float: left;
    font-size: 12px;
}
.main_top{
    width: 750px;
    height: 100px;
    margin-bottom: 10px;
}
.main_top a{
    display: inline-block;
}
/*.main_top a>img{
    border: 1px #e1e1e1 solid;
}*/

.lowrank_ct1{
    width: 750px;
    height: 435px;
}
.lowrank_ct2{
    width: 750px;
    height: 435px;
}
