*{margin: 0; padding: 0;}
ul,li{list-style: none;}
.guid-line{outline: 1px #00F solid;}

body{
  background-image: url(../img/bg_bd.png);
}
.base{
  width: 900px;
  height: 540px;
  margin: 150px auto;
  background-image: url(../img/bg_panel.png);
  background-repeat: no-repeat;
  background-position: center;
}
.heading{
  width: 840px;
  height: 111px;
  margin: 0 30px;
}
.button{
  width: 277px;
  height: 24px;
}
.contents{
  width: 840px;
  height: 380px;
  margin: 20px 30px;
}
.main{
  width: 477px;
  height: 380px;
  float: left;
}
.headline{
  width: 476px;
  height: 167px;
  border-bottom: 1px #d6d6d6 solid;
  border-right: 1px #d6d6d6 solid;
}
.headline ul>li{
  display:inline-block;
  font-size: 13px;
}
.headline ul>li:first-child{
  float: left;
  margin: 5px 15px 0 0;
}
.headline ul>li:first-child~li{
  width: 265px;
  height: 18px;
  padding-top: 6px;
}
.headline ul>li>a{
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.headline ul>li>a:hover{
  text-decoration: underline;
  color: orange;
}
.headline ul>li:first-child+li+li>a,
.headline ul>li:first-child+li+li+li+li>a{
  color: #c4865a;
}

.bottomline{
  width: 476px;
  height: 213px;
  border-right: 1px #d6d6d6 solid;
}
.lc{
  width: 108px;
  height: 204px;
  float: left;
  padding: 9px 0 0 16px;
  background-color: #ededed;
  border-right: 1px #d6d6d6 solid;
}
.lc ul>li{
  display:inline-block;
}
.lc ul>li>a{
  text-decoration: none;
  font-size: 12px;
  color: #000;
}
.lc ul>li:first-child+li>a>span,
.lc ul>li:first-child+li+li+li>a>span
{
  width: 95px;
  height: 14px;
  display:inline-block;
  font-size: 11px;
  text-align: center;
  color: #737475;
}
.lc ul>li:first-child+li>a>span:hover,
.lc ul>li:first-child+li+li+li>a>span:hover{
  text-decoration: underline;
  color: orange;
}
.rc{
  width: 336px;
  height: 203px;
  padding-top: 4px;
  float: right;
}
.rc ul>li{
  display: block;
  width: 336px;
  height: 23px;
  padding-top: 6px;
  overflow: hidden;
  line-height: 23px;
}
.rc ul>li>a{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.rc ul>li>a:visited{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.rc ul>li>a:hover{
  text-decoration: underline;
  color: orange;
}
.rc ul>li:first-child+li+li>a,
.rc ul>li:first-child+li+li+li+li+li>a{
  color: #c4865a;
}

.secondary{
  width: 363px;
  height: 377px;
  float: right;
}
.today-colum{
  width: 343px;
  height: 134px;
  padding-left: 20px;
  border-bottom: 1px #d6d6d6 solid;
}
.today-colum ul>li{
  display:block;
}
.today-colum ul>.fc{
  float: left;
}
.today-colum ul>.sc{
  float: right;
}
.today-colum ul>.fc>ul,
.today-colum ul>.sc>ul{
  margin-top: 5px;
  font-size: 11px;
}
.today-colum ul>.fc>ul>li{
  margin: 0 15px 2px 0;
}
.today-colum ul>.sc>ul>li{
  margin-bottom: 2px;
}
.today-colum ul>.fc>ul>li>a:link,
.today-colum ul>.sc>ul>li>a:link{
  text-decoration: none;
  color: #737475;
}
.today-colum ul>.fc>ul>li>a:visited,
.today-colum ul>.sc>ul>li>a:visited{
  text-decoration: none;
  color: #737475;
}
.today-colum ul>.fc>ul>li>a:hover,
.today-colum ul>.sc>ul>li>a:hover{
  text-decoration: underline;
  color: orange;
}

.celebrity{
  width: 343px;
  height: 111px;
  margin-bottom: 8px;
  padding: 19px 0 0 20px;
}
.celebrity ul>li{
  display: block;
  font-size: 12px;
}
.celebrity ul>li>a:link{
  text-decoration: none;
  color: #000;
}
.celebrity ul>li>a:hover{
  text-decoration: underline;
  color: orange;
}
.celebrity ul>li:first-child+li+li>a{
  color: #737475;
}
.celebrity ul>li:first-child+li+li~li{
  padding-left: 6px;
  margin-bottom: 2px;
  background-image: url(../img/011.png);
  background-repeat: no-repeat;
  background-position: left;
}
.celebrity ul>li:first-child{
  float: right;
}
.celebrity ul>li:first-child~li{
  width: 189px;
  height: 18px;
  margin-bottom: 3px;
}
.phototype{
  width: 343px;
  height: 104px;
  padding-left: 20px;
}
.phototype ul>li>a{
  display: block;
  width: 103px;
  height: 104px;
  font-size: 11px;
  text-align: center;
}
.phototype ul>li>a:link{
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.phototype ul>li>a:hover{
  text-decoration: underline;
  color: orange;
}
.phototype ul>li:first-child{
  float: left;
}
.phototype ul>li:first-child~li{
  margin-left: 17px;
}
.phototype ul>li:first-child+li{
  float: left;
}
.phototype ul>li:first-child+li+li{
  float: left;
}
