*{margin: 0; padding: 0;}
.guid-line{outline: 1px #00F solid;}
.base{width: 900px; height: 540px; margin: 10px auto;}
.heading{width: 840px; height: 111px; margin: 0 30px;}
.contents{width: 840px; height: 380px; margin: 20px 30px;}
.left{width: 513px; height: 100%; margin-right:20px; float: left;}
.right{width: 307px; height: 100%; float: right;}
.up{width: 100%; height: 132px; margin-bottom: 10px;}
.down{width: 100%; height: 238px;}
