*{margin: 0; padding: 0;}
.guid-line{outline: 1px #00F solid;}

.base{width: 900px; height: 540px; margin: 10px auto;}
.heading{width: 840px; height: 111px; margin: 0 30px;}
.button{width: 268px; height: 24px; clear: left;}
.title1{float: left;}
.title2{float: right;}
.title1,.title2{margin-top: 20px;}
.contents{width: 840px; height: 380px; margin: 20px 30px;}
.left{width: 513px; height: 100%; margin-right:20px; float: left;}
.right{width: 307px; height: 100%; float: right;}
.left_up{width: 100%; height: 132px; margin-bottom: 10px;}
.left_up>img{display: inline-block; width: 160px; height: 94px;}
h2{display: inline-block; width: 513px; height: 32px; font-size: 23px;}
.left_down{width: 100%; height: 238px;}
.left_sub1{width: 162px; height: 220px; padding: 9px 0; float: left;}
.small1,.small2{width: 100%; height: 110px;}
.small1>img{display: inline-block; width: 126px; height: 78px; margin: 0 18px;}
.small2>img{display: inline-block; width: 126px; height: 78px; margin: 0 18px;}
.left_sub2{width: 351px; height: 100%; float: right;}
.right_up{width: 100%; height: 115px; margin-bottom: 9px;}
.issue>img{display: inline-block;}
.right_down{width: 100%; height: 255px;}
.right_sub1{width: 146px; height: 100%; float: left;}
.right_sub2{width: 146px; height: 100%; float: right;}
.pic1,.pic2{width: 100%; height: 50%;}
.pic3,.pic4{width: 100%; height: 50%;}
.pic1>img,.pic2>img{display: inline-block; width: 146px; height: 95px;}
.pic3>img,.pic4>img{display: inline-block; width: 146px; height: 95px;}
